$font-color: #ff0000

@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap')

// App
*
    font-family: 'Coda', cursive
    color: $font-color
    background-color: black

h2, h3
    text-align: center

.app
    position: relative
    margin: auto
    width: 80%

.case
    border: 3px solid $font-color
    border-radius: 10px
    box-shadow: $font-color 0px 5px 15px 0px

    
// Tecla
.tecla
    border: 2px solid $font-color
    border-radius: 10px
    margin: 10px
    box-shadow: $font-color 0px 5px 15px 0px


input
    border: 0
    border-radius: 10px
    background-color: black
    height: 70px
    font-size: 24px
    width: 100%

.tecla:hover
    background-color: $font-color
    color: black
    input
        background-color: $font-color
        color: black

// Teclado
.teclado
    background-color: #ffffff00
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(4, 1fr)
    

// Display
.display
    margin: 10px
    border-radius: 10px
    height: 90px
    border: 2px solid $font-color
    font-size: 25px
    box-shadow: $font-color 0px 5px 15px 0px
    h4
        margin: auto
        width: fit-content
        background-color: #ffffff00
        position: relative
    h3
        @extend h4

// Feature
.develop
    //background-color: transparent
    position: absolute
    width: 100%
    display: flex
    justify-content: space-between        
